*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.grow-1{
    flex-grow: 1;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

img{
    max-width: 100%;
}

/* HEADER */

header .section{
    background-color: #FF6900;
}

header .row{
    justify-content: space-between;
    padding: 12px 0;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu a{
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
}

.men-wear{
    padding: 0 15px;
}

header .col{
    color: white;
}

header figure {
    text-align: center;
}

.logo{
    width: 120px;
}

/* MAIN */

.main-content{
    padding: 50px 0;
}

.col-4{
    flex-basis: calc(100% / 12 * 4);
}

figure{
    position: relative;
}

.profile-left{
    padding-right: 10px;
}

.profile-middle{
    padding: 0px 5px;
}

.profile-right{
    padding-left: 10px;
}

/* .top{
    padding-bottom: 20px;
} */

.secondimg{
    position: absolute;
    left:0;
    top:0;
    z-index: -1;
}

figure:hover .secondimg{
    z-index: 1;
}

.card-tags{
    position: absolute;
    bottom: 50px;
    z-index: 2;
}

.card-tags span{
    display: inline-block;
    font-weight: bold;
    color: white;
    line-height: 27px;
    font-size: 13px;
    padding: 0 10px;
}

.red-tag{
    background-color: #FF0000;
}

.green-tag{
    background-color: green;
}

.card-middle .card-tags{
    left: 5px;
}

.card-right .card-tags{
    left: 10px;
}

.main-content .col-4{
    padding-bottom: 30px;
}

.heart-tag{
    position: absolute;
    right: 0px;
    top: 10px;
    padding: 0px 10px;
    font-size: 35px;
    background-color: white;
    z-index: 2;
}

.heart-tag:hover{
    color: #FF0000;
}

.card-left .heart-tag{
    right: 20px;
}

.card-middle .heart-tag{
    right: 10px;
}

.brand{
    font-size: 11px;
    font-weight: 400;
}

.clothes{
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 0;
}

.price{
    font-size: 12px;
    display: inline-block;
    color: #FF0000;
    vertical-align: top;
}

.original{
    text-decoration: line-through;
    color: black;
    font-weight: 600;
}

/* DEBUG */

/* .debug header .section{
    min-height: 100px;
} */

.debug .col-4{
    min-height: 40px;
    background-color: blue;
    border: 2px solid white;
}